{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Richcon Group Construction</title>
    <!--
    Coming2Live series free coming soon templates!
    HTML version by Awe7 (http://awe7.com/)
    You can find WordPress version here:
    https://wordpress.org/plugins/coming2live/
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/fontawesome/font-awesome.min.css' %}">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/bootstrap/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/YTPlayer/css/jquery.mb.YTPlayer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/vegas/vegas.min.css' %}">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Work+Sans:300,400,500,700">
    <link rel="stylesheet" type="text/css" id="app-stylesheet" href="{% static 'assets/css/main.css' %}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="page-wrap" id="root">
    <!-- Content-->
    <div class="md-content">

        <!-- hero -->
        <div class="hero md-skin-dark"
             style="background-image:url(https://images.pexels.com/photos/2138126/pexels-photo-2138126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">

            <!-- header -->
            <div class="header">
                <div class="header__left"><span>Bakı şəhəri Nərimanov rayonu, Ziya Bünyadov, 2090-cı məhəllə, 508-ci küçə</span><span>(+994)552004101</span><span>tofiqsefterli@gmail.com</span>
                </div>
                <div class="header__social">

                    <!-- social-icon -->
                    <a class="social-icon social-icon__rounded" href="https://www.facebook.com/Qapilar.az"
                       target="_blank"><i class="fa fa-facebook"></i>
                    </a><!-- End / social-icon -->


                    <!-- social-icon -->
                    <a class="social-icon social-icon__rounded" href="https://www.instagram.com/baki_izolasiya_merkezi/"
                       target="_blank"><i class="fa fa-instagram"></i>
                    </a><!-- End / social-icon -->


                    <!-- social-icon -->
                    <a class="social-icon social-icon__rounded"
                       href="https://www.tiktok.com/@bakiizolasiyamerkezi?is_from_webapp=1&sender_device=pc"
                       target="_blank"><i class="fa fa-tiktok"></i>
                    </a><!-- End / social-icon -->


                    {#							<!-- social-icon -->#}
                    {#							<a class="social-icon social-icon__rounded" href="#"><i class="fa fa-google-plus"></i>#}
                    {#							</a><!-- End / social-icon -->#}

                </div>
            </div><!-- End / header -->

            <div class="container">
                <div class="hero__wrapper">
                    <div class="row">
                        <div class="col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
                            <div class="hero__title_inner"><span class="hero__icon">R</span>
                                <h1 class="hero__title">Biz Demək olar ki, Başlamağa Hazırıq</h1>
                                <h3><p class="hero__text">"Richcon Group Construction olaraq, veb səhifəmiz tezliklə
                                    istifadənizə veriləcək."</p></h3>
                            </div>
                        </div>
                    </div>

{#                    <!-- countdown__module hide undefined -->#}
{#                    <div class="countdown__module hide" data-date="2021/3/21">#}
{#                        <p><span>%D</span> Days</p>#}
{#                        <p><span>%H</span> Hours</p>#}
{#                        <p><span>%M</span> Minutes</p>#}
{#                        <p><span>%S</span> Seconds</p>#}
{#                    </div><!-- End / countdown__module hide undefined -->#}

                    <div class="service-wrapper">

                        <!-- service -->
                        <div class="service">
                            <h2 class="service__title">İzolyasiya</h2>
                            <p class="service__text">Richcon Construction Group olaraq, izolyasiya sahəsində peşəkar
                                xidmətlər təqdim edirik. Uzun illərin təcrübəsi və müştəri məmnuniyyəti ilə izolyasiya
                                işlərində keyfiyyət və etibarlılığı təmin edirik.</p>
                        </div><!-- End / service -->


                        <!-- service -->
                        <div class="service">
                            <h2 class="service__title">Təmir-tikinti</h2>
                            <p class="service__text">Richcon Construction Group olaraq, təmir və tikinti sahəsində
                                peşəkar xidmətlər təqdim edirik. Uzun illərin təcrübəsi və müştəri məmnuniyyəti ilə
                                layihələrinizdə keyfiyyət və etibarlılığı təmin edirik.</p>
                        </div><!-- End / service -->


                        <!-- service -->
                        <div class="service">
                            <h2 class="service__title">Havalandırma </h2>
                            <p class="service__text">Richcon Construction Group olaraq, havalandırma sistemlərinin
                                qurulması sahəsində peşəkar xidmətlər təqdim edirik. Uzun illərin təcrübəsi və müştəri
                                məmnuniyyəti ilə bu sahədə keyfiyyət və etibarlılığı təmin edirik.</p>
                        </div><!-- End / service -->

                    </div>
                </div>
            </div>
        </div><!-- End / hero -->

    </div>
    <!-- End / Content-->
</div>
<!-- Vendors-->
<script type="text/javascript" src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/flat-surface-shader/fss.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/particles.js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/waterpipe/waterpipe.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/quietflow/quietflow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/YTPlayer/jquery.mb.YTPlayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendors/vegas/vegas.min.js' %}"></script>
<!-- App-->
<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>